extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Home
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9


        h1 #{data.projects[id].project_name}

        p.lead.text-light
          | #{data.projects[id].description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        //- Use an `each` iterator to replace the li tags below and interpolation to dynamically add the technologies used in each project.
        ul
          each val in data.projects[id].technologies
            li #{val}

        a.button.expanded(href=`${data.projects[id].live_link}`) Live Demo
        a.button.expanded(href=`${data.projects[id].github_link}`) GitHub Repo

    //- Replace the URLs in the src attributes below with template literals and interpolation to dynamically add three project images.  You only have to add one image.  But adding more images to show your app in different states demonstrates a level of thoroughness and professionalism that potential employers will like to see.
    img.image(src=`${data.projects[id].image_url}`)
